@model SmartEdu.Models.ViewModels.LayoutModel


 @{
     var phone = Model.VmIletisim.FirstOrDefault(x => x.IletisimId == 1).Telefon;
     string telefon = phone.Replace("tel://+9", "");
  }
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix ">
                    <div class="widget-title">
                        <h3>Bizi Takip Edin</h3>
                    </div>
                    <br />
                    <ul class="footer-links-soi ">
                        <li><a href="@Model.VmIletisim.FirstOrDefault(x=>x.IletisimId ==1).Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="@Model.VmIletisim.FirstOrDefault(x=>x.IletisimId ==1).Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="@Model.VmIletisim.FirstOrDefault(x=>x.IletisimId ==1).Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="@Model.VmIletisim.FirstOrDefault(x=>x.IletisimId ==1).Youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Bağlantılar</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="/">Anasayfa</a></li>
                        <li><a href="/Hakkimizda">Hakkımızda </a></li>
                        <li><a href="/İletisim">İletişim</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>İletişim</h3>
                    </div>
                    <ul class="footer-links">
                        <li>@Html.Raw(Model.VmIletisim.FirstOrDefault(x=>x.IletisimId ==1).Adres)</li>        
                        
                        <li><a class="btn btn-primary" href="@Model.VmIletisim.FirstOrDefault(x=>x.IletisimId ==1).Telefon" title="telefon">İletisim: @telefon </a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div>
</footer>
